body{
background-color: #f5f5f5;
text-align: center;
}
.Laptop, .Headphone, .Smartwatch {

display: inline-block;  
width: 250px;
background-color: white;
border: 1px solid #ccc;  
padding: 20px;          
margin: 15px;       

}
img{
width: 200px;
height: 200px;
}
a {
display: inline-block;
margin-top: 10px;
padding: 8px 16px;
background-color: blue;
color: white;
}
.Laptop:hover,
.Headphone:hover,
.Smartwatch:hover {
outline: 2px solid blue;
outline-offset: 5px;
}